<!-- 
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="view-more">
            <a href="#">View All Gallery</a>
        </div>
    </div>
  </div> -->




<footer>

    <div class="fixed-bottom footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-bottom">
                        <p> &copy; Copyrights 2018. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area Section End Here -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e4f8547ccb7a3b6"></script>
<!-- <script src="/inspia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script> -->
<!-- jquery latest version -->
<script src="/gallery_js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="/gallery_js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="/gallery_js/owl.carousel.min.js"></script>

<!-- meanmenu js -->
<script src="/gallery_js/jquery.meanmenu.js"></script>
<!-- jquery-ui js -->
<script src="/gallery_js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="/gallery_js/wow.min.js"></script>
<!-- jquery.counterup js -->
<script src="/gallery_js/jquery.counterup.min.js"></script>

<script src="/gallery_js/waypoints.min.js"></script>
<!-- jquery light box -->
<script src="/gallery_js/lightbox.min.js"></script>
<!-- isotope.pkgd.min js -->
<script src="/gallery_js/isotope.pkgd.min.js"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="/gallery_js/imagesloaded.pkgd.min.js"></script>
<!-- magnific popup -->
<script src="/gallery_js/jquery.magnific-popup.min.js"></script>
<!-- jQuery MixedIT Up -->
<script src="/gallery_js/jquery.mixitup.min.js"></script>
<!-- Counter Down js -->
<script src="/gallery_js/simplyCountdown.min.js"></script>
<!-- jquery.appear js -->
<script src="/gallery_js/jquery.appear.js"></script>

<!-- jquery.fancybox.pack js -->
<script src="/inc/fancybox/jquery.fancybox.pack.js"></script>
<!-- plugins js -->
<script src="/gallery_js/plugins.js"></script>
<!-- jquery weave effects -->
<script src="/gallery_js/waves.js"></script>


<!-- imagesloaded.pkgd.min js -->
<script src="/gallery_js/imagesloaded.pkgd.min.js"></script>

<!-- TimeCircles js -->
<script src="/gallery_js/TimeCircles.js"></script>

<!-- main js -->
<script src="/gallery_js/main.js"></script>


<!-- Sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.1/dist/sweetalert2.all.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- jQuery Multistep form -->
<script src="/gallery_js/multi_step_form.js"></script>


<script>
    $(window).load(function () {
        $(".template-preloader-rapper").fadeOut(500);
    });


    $(document).ready(function () {

        $('.swalalert').click(function () {
            swal({
                    title: "Are you sure?",
                    text: "Your will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    } else {
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                });
        });


    });

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })


    $(document).on('click', '.mark-complete-btn', function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to like this photo, Action Can't be revert",
            type: 'success',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#ffae42',
            confirmButtonText: 'Mark as complete!'
        }).then((result) => {
            if (result.value) {

                let currentTrId = this.id;
                $.ajax({
                    method: "POST",
                    url: '/like',
                    data: {
                        "taskId": this.id
                    },
                    success: function (result) {
                        //    if(/* check if it is ok */) {


                        console.log("Response :", result);
                        Swal.fire(
                            'Liked!',
                            'Photo has been Liked.',
                            'success'
                        ).then((completeResult) => {
                            let currentElement = document.getElementById(
                                currentTrId);
                            currentElement.children[1].children[0].textContent =
                                "Liked";
                            currentElement.children[1].children[1].textContent++;

                            currentElement.children[1].children[0].disabled = true;

                            // document.getElementbyclassName(".mark-complete-btn").disabled = true;

                            // currentElement.$('.mark-complete-btn').prop('disabled', true);

                            // document.getElementById('likes-count-' + currentElement).textContent++;
                            console.log("Current Element Checking : ", );

                            // currentElement.children[1].innerHTML = "Liked";
                            console.log("Child Nodes", currentElement.children);
                        })

                    },
                    error: function (e) {

                        currentElement.children[1].children[0].disabled = true;

                    }
                })
            }
        });
    });





    function submitContactForm() {
        var reg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
        var name = $('#inputName').val();
        var email = $('#inputEmail').val();
        // var message = $('#inputMessage').val();
        if (email.trim() == '') {
            alert('Please enter your email.');
            $('#inputEmail').focus();
            return false;
        } else if (email.trim() != '' && !reg.test(email)) {
            alert('Please enter valid email.');
            $('#inputEmail').focus();
            return false;
        } else {
            let id = this.id;
            $.ajax({
                type: 'POST',
                url: '/voteverification',
                data: 'contactFrmSubmit=1&&email=' + email,
                beforeSend: function () {
                    $('.submitBtn').attr("disabled", "disabled");
                    $('.modal-body').css('opacity', '.5');
                },
                success: function (msg) {
                    if (msg = 'ok') {
                        // $('#inputName').val('');
                        $('#inputEmail').remove();
                        // $('#inputMessage').val('');
                        $('.statusMsg').html(
                            '<span style="color:green;">Please enter verification code below</span> </br> <div>  <input  class="form-control" id="inputCode" placeholder="Enter your code"/> <button type="button" class="btn btn-info submitCode" onclick="submitCodeForm()">Verify Code</button> <div>'
                        );
                        $('.submitBtn').remove();
                        // $('#closeBtn').append('<button>')



                    } else if (msg = 'exist') {
                        $('.statusMsg').html('<span style="color:red;">Email Already Exist.</span>');
                    } else {
                        $('.statusMsg').html(
                            '<span style="color:red;">Some Problem in verification </span>');
                    }
                    $('.submitBtn').removeAttr("disabled");
                    $('.modal-body').css('opacity', '');
                }
            });
        }
    }


    function submitCodeForm() {
        // var reg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
        // var name = $('#inputName').val();
        var code = $('#inputCode').val();
        // var message = $('#inputMessage').val();
        //    if(email.trim() == '' ){
        //         alert('Please enter your email.');
        //         $('#inputEmail').focus();
        //         return false;
        //     }else if(email.trim() != '' && !reg.test(email)){
        //         alert('Please enter valid email.');
        //         $('#inputEmail').focus();
        //         return false;
        //     }else{
        //         let id = this.id;
        $.ajax({
            type: 'POST',
            url: '/voteverificationtoken',
            data: 'contactFrmSubmit=1&&code=' + code,

            success: function (msg) {
                if (msg = 'ok') {


                    $('#modalFormCenter').modal('hide');

                } else {
                    $('.statusMsg').html(
                        '<span style="color:red;">Some problem occurred, please try again.</span>');
                }
                $('.submitCode').removeAttr("disabled");
                $('.modal-body').css('opacity', '');
            }
        });
    }







    $(document).ready(function () {

        $("#likeclick").click(function (event) {

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#likeform')[0];

            // Create an FormData object 
            var data = new FormData(form);

            // If you want to add an extra field for the FormData
            data.append("slug", "This is some extra data, testing");

            // disabled the submit button
            $("#likeclick").prop("disabled", true);

            let currentLikeId = this.id;
            $.ajax({
                method: "POST",
                url: "/like",
                data: {
                    "taskId": this.id
                },
                success: function (result) {
                    let currentElement = document.getElementById('contactMesubmit');
                    currentElement.text.remove();
                    console.log("Current Element Checking : ", );
                    currentElement.innerHTML = "Selected";
                    console.log("Child Nodes", currentElement.children);


                    //  $("button #contactMesubmit").html("success")
                    //  console.log("SUCCESS : ", data);
                    //  $("#contactMesubmit").prop("disabled", false);

                },
                error: function (e) {

                    $("#output").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#contactMesubmit").prop("disabled", false);

                }
            });

        });

    });



    //landingpage 


    $(document).ready(function () {



        $("#fileUploadForm").submit(function (event) {
            event.preventDefault();


            var form = $('#fileUploadForm')[0];

            var data = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/photoapp/<%=campaign.slug%> ",
                data: data,
                processData: false,
                contentType: false,
                cache: false,

                success: function (result) {
                    console.log(result);
                    if (result.msg == 'Completed') {

                        $("#successmsg").html(" Thanks for your submitting Photo.")
                        $(".status").html(" Success.")

                    }
                }

            });


        });

    });
</script>
</body>

</html>